.begin{
    width: 100%;
}
.begin button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-width: 10px;
    border-bottom-color:  hsl(144, 100%, 15%);
    border-right-color: hsl(144, 100%, 20%);
    border-left-color:hsl(144, 100%, 25%);
    border-top-color: hsl(144, 100%, 30%);
    background-color: hsl(144, 100%, 50%);
    color: #fff;
    font-size: 120%;
}
.begin button:hover{
    border-bottom-color:  hsl(144, 100%, 30%);
    border-right-color: hsl(144, 100%, 25%);
    border-left-color:hsl(144, 100%, 20%);
    border-top-color: hsl(144, 100%, 15%);
    background-color: hsl(144, 100%, 10%);
}