.begin{
    width: 100%;
}
.begin-button{
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
    border-width: 10px;
    color: #fff;
    font-size: 100%;
    float: left;

}
.begin-green{

    border-bottom-color:  hsl(144, 100%, 15%);
    border-right-color: hsl(144, 100%, 20%);
    border-left-color:hsl(144, 100%, 25%);
    border-top-color: hsl(144, 100%, 30%);
    background-color: hsl(144, 100%, 35%);

}
.begin-green:hover{
    border-bottom-color:  hsl(144, 100%, 30%);
    border-right-color: hsl(144, 100%, 25%);
    border-left-color:hsl(144, 100%, 20%);
    border-top-color: hsl(144, 100%, 15%);
    background-color: hsl(144, 100%, 10%);
}
.begin-blue{
    border-bottom-color:  hsl(200, 100%, 15%);
    border-right-color: hsl(200, 100%, 20%);
    border-left-color:hsl(200, 100%, 25%);
    border-top-color: hsl(200, 100%, 30%);
    background-color: hsl(200, 100%, 35%);
}
.begin-blue:hover{
    border-bottom-color:  hsl(200, 100%, 30%);
    border-right-color: hsl(200, 100%, 25%);
    border-left-color:hsl(200, 100%, 20%);
    border-top-color: hsl(200, 100%, 15%);
    background-color: hsl(200, 100%, 10%);
}

.begin-jimuban{
    width: 48.5%;
}
.begin-bianchengdouban{
    width: 48.5%;
}
