.foot{
    width: 100%;
    height: 100px;
    float: left;
}
.foot-img{
    width: 100%;
    height: 900%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-image: url(https://xiaopacychen.github.io/My-World2D/foot-picture.png);
    
}
.foot-text{
    background-color: #000;
    width: 100%;
}
.foot-text p{
    color: #fff;
    text-align: center;
    margin-top: 0px;
    font-size: 50%;
}
.foot-counter{
    width: 100%;
    height: 50px;
    background-color: #00aaff;
    margin-top: 10px;

}
.foot-counter a{
    float: left;
    margin-top: 15px;
}
.foot-counter p{
    float: left;
    text-indent: 10px;
}
