#head{
    background-color: #43e97b;
    background-image: linear-gradient(to right,#43e97b,#38f9d7);
    width: 100%;
    height: 60px;
    margin-top: 0px;
    
}
#head-text{
    width:70%;
    height: 60px;
    margin-left: 10px;
    
}
#head-text p{
    color: #fff;
    font-size: 150%;
    padding: 10px 0px;
}

